html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}
body {
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 0.5em;
  color: whitesmoke;
  font-size: 48;
  font-weight: bolder;
}
.searchbar {
  width: 370px;
  text-align: center;
  margin: 0 auto;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding-top: 10px;
  padding-bottom: 8px;
}
.searchbar input:focus {
  outline: none;
}
.searchbar input::-webkit-search-cancel-button {
  background-color: black;
}
.searchbar input {
  margin-right: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
  border: none;
  width: 85%;
}
.searchbtn,
.menubtn {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 0;
  color: blueviolet;
  background: none;
  border: none;
}
.searchbar button:focus {
  outline: none;
}
.drop-down-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 370px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.drop-down-content ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.drop-down-content li {
  padding: 10px;
  color: #333333;
}
.drop-down-content li:hover {
  background-color: #485761;
  color: whitesmoke;
}
header {
  height: 230px;
  background-color: #333333;
}
.background-image {
  position: absolute;
  width: 100%;
  height: 230px;
  object-fit: cover;
  z-index: -1;
  text-align: unset;
  opacity: 0.9;
}
#main {
  padding-top: 20px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.card-container {
  display: grid;
  grid-gap: 1.5em;
  text-align: center;
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: inline-block;
}
.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #f9f9f9;
  max-width: 250px;
}
.card h3 {
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.card p,
h3 {
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  color: #363636;
  text-decoration: none;
}
.card p {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  text-decoration: none;
}
.card:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
footer {
  text-align: center;
  background: #333333;
  margin-top: 20px;
  padding: 5px;
  color: #f9f9f9;
}
@media only screen and (min-width: 570px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
  .graph-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .graph-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1150px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .graph-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Temperature Page CSS */
h2 {
  color: white;
}
#main1 {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #35414a;
}
#main1 table {
  margin: auto;
  border: 1px solid #333333;
  width: 400px;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}
#main1 td {
  padding: 10px;
  font-size: 16;
  width: 200px;
}
#main1 td:nth-child(1) {
  text-align: right;
  padding-right: 5px;
  color: red;
  font-weight: 600;
}
#main1 td:nth-child(2) {
  text-align: left;
  padding-left: 5px;
  color: grey;
}
#main1 tr:nth-child(odd) {
  background-color: #d9edf7;
}
#main1 tr:nth-child(even) {
  background-color: #f5f5f5;
}
#main1 input {
  margin-right: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #485761;
  border: none;
  width: 200px;
  padding: 10px;
  color: white;
  margin: 5px;
}
#main1 input:focus,
select:focus {
  outline: none;
}
.input1 {
  margin-bottom: 10px;
}
.input1 select {
  background-color: #485761;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px;
  border: none;
  color: white;
  width: 180px;
}
option {
  font-size: 18;
}
.graph {
  text-align: center;
  width: 100%;
  height: 100%;
}
.content {
  background-image: none;
  height: 100%;
  text-align: center;
}
.left {
  width: 50%;
  float: left;
}
.right {
  width: 50%;
  float: right;
}

tr
{
  display: block;
}