<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Converter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="../main.js"></script>
  </head>
  <body>
    <header>
      <!-- <img src="./mainimage.jpg" alt="" class="background-image" /> -->
      <h1>Converter</h1>
      <div class="searchbar">
        <div class="searchbtn"><i class="fa fa-search"></i></div>
        <input type="text" placeholder="Search..." />
        <button class="menubtn" onclick="toggleCategory()" onblur="focusLost()">
          <i class="fa fa-bars"> </i>
        </button>
        <div class="drop-down-content">
          <table>
            <tr>
              <td>Category A</td>
              <td>Category B</td>
            </tr>
            <tr>
              <td>Category C</td>
              <td>Category D</td>
            </tr>
            <tr>
              <td>Category E</td>
              <td>Category F</td>
            </tr>
          </table>
        </div>
      </div>
    </header>
    <div id="main1">
      <h2 id="pageHeading">Area Conversion</h2>
      <div class="input1">
        <input type="text" id="inputValue" placeholder="Value" oninput="unitChange()"/>
        <select id="inputUnit" onchange="unitChange()">
          <option value="inch2">Square Inch</option>
          <option value="m2">Square Meter</option>
          <option value="ft2">Square Feet</option>
          <option value="km2">Square Kilometer</option>
          <option value="acre">Acre</option>
          <option value="hectare">hectare</option>

        </select>
      </div>
      <table id="outputTable">
        <tr>
          <td id="inch2"></td>
          <td>Square Inch</td>
        </tr>
        <tr>
          <td id="m2"></td>
          <td>Square Meter</td>
        </tr>
        <tr>
          <td id="ft2"></td>
          <td>Square Feet</td>
        </tr>
        <tr>
            <td id="km2"></td>
            <td>Square Kilometer</td>
        </tr>
        <tr>
            <td id="acre"></td>
            <td>Acre</td>
        </tr>
        <tr>
            <td id="hectare"></td>
            <td>Hectare</td>
        </tr>
       </table>
    </div>
    </div>
    <script src="areaConversion.js"></script>
  </body>
</html>
