<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Converter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="main.js"></script>
  </head>
  <header>
    <!-- <img src="./mainimage.jpg" alt="" class="background-image" /> -->
    <a href="index.html"><h1>Converter</h1></a>
    <div class="searchbar">
      <div class="searchbtn"><i class="fa fa-search"></i></div>
      <input
        type="text"
        placeholder="Search..."
        id="searchInput"
        oninput="search()"
        onblur="focusLost()"
      />
      <div class="drop-down-content"><ul id="list"></ul></div>
    </div>
  </header>
  <body>
    <div id="main">
      <div class="card-container">
        <div class="card">
          <a href="./temperatureConversion.php">
            <img src="../assets/temperature.jpg" alt="" />
            <h3 class="card-heading">Temperature</h3>
            <p>Celcius, Fahrenheit, Kelvin.</p>
          </a>
        </div>

        <div class="card">
          <a href="./currencyConversion.php">
            <img src="../assets/currency.jpg" alt="" />
            <h3 class="card-heading">Currency</h3>
            <p>Live currency and foreign exchange rates.</p>
          </a>
        </div>

        <div class="card">
          <a href="./distanceConversion.php">
            <img src="../assets/distance.png" alt="" />
            <h3 class="card-heading">Distance</h3>
            <p>
              Length and Distance converter for units including Kilometers,
              Miles, Meters, Feet ans Inches.
            </p>
          </a>
        </div>

        <div class="card">
          <a href="./speedConversion.php">
            <img src="../assets/speed.png" alt="" />
            <h3 class="card-heading">speed</h3>
            <p>
              Length and Distance converter for units including Kilometers,
              Miles, Meters, Feet.
            </p>
          </a>
        </div>

        <div class="card">
          <a href="./areaConversion.php">
            <img src="../assets/area.jpg" alt="" />
            <h3 class="card-heading">Area</h3>
            <p>
              Acres, square centimeters, square feet, square miles and other
              metric and imperial area units.
            </p>
          </a>
        </div>

        <div class="card">
          <a href="./numberSystemConversion.php">
            <img src="../assets/number-system.jpg" alt="" />
            <h3 class="card-heading">Number System</h3>
            <p>
              Binary to Decimal,Decimal to Binary,HexaDecimal to Binary and All
              Base to All Base.
            </p>
          </a>
        </div>

        <div class="card">
          <a href="./massConversion.php">
            <img src="../assets/weight.jpg" alt="" />
            <h3 class="card-heading">Mass & Weight</h3>
            <p>
              The International size conversion tables can be used as a
              guideline for determining your size in various countries.
            </p>
          </a>
        </div>
        <div class="card">
          <a href="./pressureConversion.php">
            <img src="../assets/pressure.jpg" alt="" />
            <h3 class="card-heading">Pressure</h3>
            <p>pascal (Pa), torr (mmHg), atm (atmospheric pressure) and bar.</p>
          </a>
        </div>
        <div class="card">
          <a href="./liveCurrencyRates.php">
            <img src="../assets/currency.jpg" alt="" />
            <h3 class="card-heading">Currency Exchange Trend</h3>
            <p>The currency exchange rates visualized in the form of graph.</p>
          </a>
        </div>
      </div>
    </div>
  </body>
  <footer><div class="footer-note">Created By Sanjay & Prajwal</div></footer>
</html>
