<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Converter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="../main.js"></script>
  </head>
  <body>
    <header>
      <!-- <img src="./mainimage.jpg" alt="" class="background-image" /> -->
      <h1>Converter</h1>
      <div class="searchbar">
        <div class="searchbtn"><i class="fa fa-search"></i></div>
        <input type="text" placeholder="Search..." />
        <button class="menubtn" onclick="toggleCategory()" onblur="focusLost()">
          <i class="fa fa-bars"> </i>
        </button>
        <div class="drop-down-content">
          <table>
            <tr>
              <td>Category A</td>
              <td>Category B</td>
            </tr>
            <tr>
              <td>Category C</td>
              <td>Category D</td>
            </tr>
            <tr>
              <td>Category E</td>
              <td>Category F</td>
            </tr>
          </table>
        </div>
      </div>
    </header>
    <div id="main1">
      <h2 id="pageHeading">Number System Conversion</h2>
      <div class="input1">
        <input type="text" id="inputValue" placeholder="Value" oninput="unitChange()"/>
        <select id="inputUnit" onchange="unitChange()">
          <option value="binary">Binary</option>
          <option value="octal">Octal</option>
          <option value="decimal">Decimal</option>
          <option value="hexadecimal">Hexadecimal</option>

        </select>
      </div>
      <table id="outputTable" style="display: none;">
        <tr>
          <td id="binary"></td>
          <td>binary(base 2)</td>
        </tr>
        <tr>
          <td id="octal"></td>
          <td>octal(base 8)</td>
        </tr>
        <tr>
          <td id="decimal"></td>
          <td>decimal(base 10)</td>
        </tr>
        <tr>
            <td id="hexadecimal"></td>
            <td>hexadecimal(base 16)</td>
          </tr>
       </table>
    </div>
    </div>
    <script src="numberSystemConversion.js"></script>
  </body>
</html>
